.admin-page {
  display: flex;
}

.menu-column {
  border-right: 0;
  padding-left: 70px; 
  padding-top: 50px;
}

.menu-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px; 
  margin-right: 1; 
}

.bold-text {
  font-weight: bold;
}

.menu-button button {
  width: 170px; 
}

.wider-button {
  width: 100%;
  margin-top: 10px;
}

.content-area {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  text-align: center;
  margin-top: 30px; /* Adjust this value to align with BackOffice text */
  max-width: 1500px; /* Set a maximum width for the content area */
  width: 100%; 
  margin-left: auto; 
  margin-right: auto; 
  border: 1px solid #ccc; 
}

.centered-title {
  margin: 0;
}

.content-title {
  margin-bottom: 20px;
  font-size: 1.75rem; 
}

.dropdown-menu {
  width: 100%;
}

.dropdown-item {
  color: black;
  font-weight: bold;
  cursor: pointer;
}


.btn-wide-purple {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #800080;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content; /* Använd fit-content för att knappen ska anpassa sig till innehållet */
  margin: 20px auto; /* Auto margin för att centrera horisontellt */
}
.btn-sm-custom {
  font-size: 10px;
  padding: 3px 10px;
}
.btn-sm-popup {
  font-size: 10px;
  padding: 3px 10px;
  width: 80px; /* Adjust width as needed */
}
















  
  
  
  
  
  
  
  
  
  
  