.admin-page {
  display: flex;
}

.menu-column {
  border-right: 0;
  padding-left: 70px; /* Öka marginalen från vänsterkanten */
  padding-top: 50px;
}

.menu-header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px; /* Lägg till lite mellanrum nedanför BackOffice-texten */
  margin-right: 1; /* Justera marginalen åt höger */
}

.bold-text {
  font-weight: bold;
}

.menu-button button {
  width: 170px; /* Ändra storleken på knappen efter behov */
}

.wider-button {
  width: 100%;
  margin-top: 10px;
}

.content-area {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items at the start of the container */
  align-items: center;
  text-align: center;
  margin-top: 30px; /* Adjust this value to align with BackOffice text */
  max-width: 800px; /* Set a maximum width for the content area */
  width: 100%; /* Ensure the content area takes up available width up to the max-width */
  margin-left: auto; /* Center the content area horizontally */
  margin-right: auto; /* Center the content area horizontally */
  border: 1px solid #ccc; /* Add border to content area */
}

.centered-title {
  margin: 0;
}

.content-title {
  margin-bottom: 20px;
  font-size: 1.75rem; /* Equivalent to h3 size */
}

.dropdown-menu {
  width: 100%;
}

.dropdown-item {
  color: black;
  font-weight: bold;
  cursor: pointer;
}



















  
  
  
  
  
  
  
  
  
  
  