.user-profile {
  background-color: #ffffff;
  min-height: 100vh;
}

.small-card {
  max-width: 300px;
}

.about-me-card {
  width: 100%;
  max-width: 800px;
}

.image-preview {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  background-color: #ffffff;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.button-group {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

.button-group .btn-danger {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.continue-button {
  background-color: #28a745;
  border-color: #28a745;
  padding: 5px 15px;
  font-size: 16px;
}

.mt-3 {
  margin-top: 1rem;
}

.bold-text {
  font-weight: bold;
}









  
  
  